<div class="container-fluid m-5">
    <div class="center-screen pt-5">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-secondary" [owlDateTimeTrigger]="datePicker"><i
            class="fa fa-calendar"></i></button>
      </div>
      <input [owlDateTime]="datePicker" placeholder="Select Date" class="form-control"
        id="requestDate" #requestDate name='requestDate'>
    </div>
    <owl-date-time [pickerType]="'calendar'" [firstDayOfWeek]='1' #datePicker></owl-date-time>
  </div>
</div>
</div>